<div class="container" role="main">
  <div class="progress" *ngFor="let bar of bars; let i = index">
    <span class="progress-value">{{bars[i]}}%</span>
    <div class="progress-bar" [ngClass]="{'danger-percentage':  bars[i] > 100}" [style.width.%]="bars[i]">
    </div>
  </div>

  <form class="form-inline" [formGroup]="myForm" role="form">
      
      <div class="row">
        
          <div class="form-group col-xs-4">
            <select class="form-control" formControlName="barselect" (change)='onOptionsSelected($event.target.value)'>
                <option *ngFor="let bar of bars;let i = index" value="{{i}}" class="cap">#Progress {{i+1}}</option>
            </select>
          </div>

          <div class="form-group col-xs-8">
            <button *ngFor="let button of buttons" class="classWithPad" (click)='changePerce(button)'>{{button}}</button>
          </div>
        
      </div>
    </form>
  
</div>
<router-outlet></router-outlet>